.sectionDark {
    color: #356975;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 200px;
}

button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: 0 auto;
}

h5.modal-title {
    margin: 0 auto;
}

button.close {
    margin-left: 16;
}

.modalFormWrapper {
    padding: 2rem;
}
