html {
    font-family: "Times New Roman", serif, sans-serif;
}

body {
    /* background-image: url(../images.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #444;
    /* text-align: center; */
}

img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 100%;
    display: block;
    margin: auto;
}

.borderImg {
    border-radius: 100px;
    width: 500px;
    height: 400px;
    border: 2px solid black;
    padding: 5px;
}

.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

[class*="col-"]{
    border: 2px solid red;
    padding: 15px;
}