html {
    font-family: "Times New Roman", serif, sans-serif;
}

body {
    /* background-image: url(../images.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #444;
    text-align: center;
}


.borderImg {
    border: 2px dashed red;
}

h1 {
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Inconsolata', monospace;;
}

h2 {
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Roboto Mono', monospace;;
}

a {
    text-decoration: None;
    font-size: 20px;
    color: yellow;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-transform: uppercase;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

ul li {
    color: white;
    font-size: 20px;
}
ul > li {
    color: yellow;
}