body {
    background-image: url(../images.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: linear-gradient(to right, #00ccff, #b3f0ff);
    box-shadow: 1px 1px 3px;
}
h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}
h2 {
    color: rgb(0, 204, 255);
    text-shadow: 1px 1px 3px darkblue;
}

.borderImg {
    border: 2px dashed red;
}

ul li {
    color: blue;
    font-size: 20px;
}
ul > li {
    color: red;
}