/* Defaults */

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Nav Bar */

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/* Custom Styles */

#section-1-gradient {
    background: #076DFF;
    background: linear-gradient(#076DFF, #65a5ff);
}

div.icon {
    width: 100%;
}

label {
    font-size: 35px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

h1.large {
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

div.rightSide-col {
    margin-left: 15%;
}

.leftSide-col {
    margin-left: 30%;
}

button {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}

button.learnMore {
    display: block;
    margin: auto;
}

form h2 {
    color: #fff;
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

h1.section2Header {
    font-size: 65px;
    text-align: center;
}

div.box {
    border-radius: 7px;
    padding: 26px 24px 40px 24px;
    margin: 24px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 3px 0 rgba(0, 0, 0, .1);
}

article p {
    font-size: 35px;
    line-height: 1.2;
}

div.slopeIcon img{
    display: block;
    margin: auto;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15),
    2px 2px 17px 2px rgba(0, 0, 0, 1);
}

footer.footsy {
    background-color: #666;
    padding-left: 10%;
}

footer.footsy h1 {
    color: #fff;
    font-size: 35px;
}
footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
}

/* Mobile */

@media screen and (max-width: 965px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    h1.section2Header {
        font-size: 55px;
    }

    .col-6, 
    .col-4, 
    .col-7, 
    .col-5 {
        width: 100%;
        margin: 0;
    }

    div.mobileStack {
        width: 50%;
        margin: 0;
    }

    div.box {
        padding: 5px;
        display: block;
    }

    div.leftSide-col,
    div.rightSide-col {
        margin: 15px;
    }
    input[type="text"] {
        width: 350px;
    }

    .video-container iframe{
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    div.slopeIcon {
        margin: 10px;
    }

    div.slopeIcon img{
        width: 100%;
    }
}