h1 {
    color: red;
    text-align: center;
} 
body {
    background-color: #cc99ff;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;
}

#circle {
    color: darkred;
    font-size: 40px;
}